.search-result:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.ticker-longname {
  color: var(--bs-secondary);
}

.ticker-longname:hover {
  color: #fff;
}

.search-results {
  display: none;
}

#search:focus-within .search-results {
  display: block;
}

#searchBar:focus-within {
  box-shadow: 0 0 3px var(--bs-secondary);
}
